<section class="store-map" id="store-locator" aria-labelledby="store-map-heading">
  <div class="store-map__inner">
    <div class="store-map__intro">
      <h2 id="store-map-heading" class="store-map__title">{{ 'landing.store.title' | translate }}</h2>
      <p class="store-map__address">
        {{ 'landing.store.addressLine1' | translate }}<br />
        {{ 'landing.store.addressLine2' | translate }}
      </p>
      <a
        class="store-map__external"
        [href]="'https://www.openstreetmap.org/?mlat=' + lat + '&mlon=' + lng + '#map=17/' + lat + '/' + lng"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ 'landing.store.openMap' | translate }}
      </a>
    </div>
    <div class="store-map__frame" #mapHost role="application" [attr.aria-label]="'landing.store.mapLabel' | translate"></div>
  </div>
</section>
